* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    border: red dashed 5px;
    margin: 30px 0;
    padding: 30px;
    text-align: center;
}

footer {
    background-color: #555555;
    color: #ffffff;
    padding: 20px;
}

.produto-item {
    color: red;
    font-weight: bold;
}

.nome-item {
    font-weight: bold;
}